@font-face {
	font-family: Pufony;
	src: url(../files/Pufony-1.otf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: Pufony;
	font-size: 18px;
	text-transform: uppercase;
}

body{
	min-width: 800px;
	width: 100%;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
footer{
	width: inherit;
	min-width: inherit;
	background-color: #8adcfc;
	height: 100px;
	padding: 1rem;
	text-align: center;

}

header{
	top: 0;
	display: flex;
	justify-content: center;	
}

footer{
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	
	.langs{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 330px;

	}

	.langs,
	.langs2{
		margin-bottom: 1rem;
		text-transform: lowercase;
		font-size: 25px;



	}



	a{
		color: black;
		text-decoration: none;
		font-size: 25px;
	}

	a:hover{
		font-size: 28px;
	}

	.autor{
		display: flex;
		color: black;
		text-decoration: none;
		text-transform: lowercase;
		font-size: 22px;

		b{
			text-align: center;
		}
	}

	.autor:hover{
		font-size: 24px;
	}
}

main{
	flex-grow: 1;
	padding: 2rem;
	display: flex;
	justify-content: center;
	font-size: 25px;
	background-image: url(../img/med.webp);
	background-size: cover;

	.fun{
		display: inherit;
		flex-direction: column;
		align-items: center;

		.images{
			display: inherit;
			padding: 2rem;
			margin: 0.5rem;
			img{
				height: 400px;
				padding: 20px;
				border-radius: 10%;
			}
			.karl:hover,
			.tom:hover{
				height: 390px;
				transition: all 0.3s ease;

			}

			.karls,
			.toms{
				display: inherit;
				flex-direction: column;
				align-items: center;
				p{
					text-decoration: underline;
				}
				a{
					color: #000;
				}
			}
		}

		.images2{
			display: flex;
			flex-direction: column;
			align-items: center;

			padding: 2rem;
			margin: 0.5rem;

			img{
				height: 400px;
				padding: 20px;
				border-radius: 10%;
			}

			p{
				text-decoration: underline;
				
				a{
					color: #000;
				}
			}
		}

		.btn{
			margin-top: 2rem;
			.btn-a{
				color: #000;
				text-decoration: none;
				background-color: #8adcfc;
				padding: 1rem;
				border-radius: 5%;
				box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
				transition: all 0.3s ease;


			}

			.btn-a:hover{
				background-color: #73b6d1;
				font-size: 27px;


			}

			.btn-a:active{
				background-color: #588fa5;
				font-size: 27px;


			}
		}
		
	}
}